extends ../../layouts/default.pug
include ../../mixins/box-head.pug

//- muốn lấy dc file trong folder static thì "/......" dấu xược tượng trưng cho ../public/, vd "/css/style.css"
block main 
     +box-head("Chào mừng bạn đến với trang chủ")